# BUS 32120, Prework 1
# Introduction to programming through Python

Learning objectives: 
* What sets Python apart from other programming languages
* Basics of computer language: variables, data types and containers (e.g. lists and tuples)
* The difference between mutable and immutable data types
* How to change control flow through if-then statements
* Repeating code using loops
* Easily reusing code through functions

## Why do we have more than one programming language?

Different languages are aimed at solving different problems. E.g. web versus operating industrial machines. There are some languages that let you do things "close to the metal" whereas others abstract things away so they're easier for a human to read (but trade off on being slower). 

Python is a good place to start for a beginner, and popular in data analytics, because it's interpreted (no waiting for a compiler to check the code before you can run it) and it's high-level (the code you write looks more like human language than the 0s and 1s the computer understands). 

Python is particularly popular in data analytics because of the large ecosystem of packages that make data easier: 
* `Pandas` for data frames (like Excel files, a way to organize data)
* `Numpy` for optimized, fast computation like linear algebra and probability
* `sci-kit-learn` for pre-built machine learning models

## Which version of Python are we using?

In [1]:
# In notebooks, using ! is how we can run terminal commands 
# Also, this is a comment: a line that begins with # and isn't interpreted as code
# There are only single-line comments in Python 
! python --version

Python 3.11.9

## The starting point of all programming tutorials: "Hello, world!"

In [38]:
# characters inside of "" are called string literals 
# Python will not evaluate what's inside "" and will just literally print the string as-is! 
print("Hello, world!")

Hello, world!

In [2]:
# How do we print to the standard output? Using print(), which can take any number of arguments

print("One")
print("One" , "two")
# similar to using functions in Excel, 
# e.g. vlookup(A3, B5:B10) where vlookup() is the function and A3, B5:B10 are parameters/inputs
print("One" , "two" , 3)

One
On"e two
One two 3

## What's in a name: variables

Computing boils down to this: store some information, then perform some actions on that information. In order to do that more easily, we need a way to refer to our information. That's where variables come in. They are the most basic building blocks of code. Variables give us a way to refer to places in computer memory where information (such as a number) are being stored.

In [4]:
# variable_name = value
x = 5

In [5]:
x

5

In the above bit of code, we created a variable called `x` and *stored* the value 5 inside of it. 

There are some rules and best practices for naming variables in Python. You can't start a variable name with a number. It's best to be descriptive: better too long than too short! If you're using multiple words, separate them with an underscore: so, `my_list` instead of `mylist` or `myList`.

In [8]:
x = 'a'
y = "b"
print(x)
print(y)

a
b

In [46]:
x = 'this is a "quote"'
x
# note that in a jupyter notebook, the last line will be printed out without having to use a print()

'this is a "quote"'

In [48]:
a = 6

In [9]:
this_is_a_variable_name = 1

In [10]:
this_is_a_variable_name

1

In [11]:
thisIsAVariable = 2 # not standard Python, but it works!

In [49]:
x = a

In [50]:
a = 7

In [14]:
print(a) 
print(x)

7
6

## Variable types in Python

The most basic unit we care about in a high-level language is a **variable**. There are two general types of variables: primitives and the rest. Primitives we get for free (as in, they're built into the langauge). Primitives are things like integers, floats (decimal numbers) and strings. The other data types are either created by the user or are containers for primitives (e.g. lists). 

**Python does not enforce type.** This means that you can declare a variable (give it a name) and set it to be some value, but then you can change the type of the value but keep the same variable name.

In [15]:
x = 7
x

7

In [16]:
x = 'a string'
x

'a string'

In [17]:
x = 1.7
x

1.7

In [52]:
TRUE = False

In [19]:
x = False
x

False

In [20]:
# Even if you do wacky things, Python will try to be helpful
# In this case, true evaluates to 1 
x = True
y = 7
print(x+y)

8

We can also change between types. Python gives us some functions for this. **Changing data types is called casting:** you can cast, e.g., a float into an integer.

In [21]:
x = 1.7
int_x = int(x)
print("x = ", x, "\nInt x = ", int_x)

x =  1.7
Int x =  1

In [22]:
# Let's check types! 

print("Type of x = ", type(x))
print("Type of y = ", type(y))
print("Type of 'Python'" , type("Python"))

Type of x =  <class 'float'>
Type of y =  <class 'int'>
Type of 'Python' <class 'str'>



---

## Container types: lists and tuples

There are primitives (integers, floats) and then there are **container types to hold primitives and user-defined types (e.g. lists, tuples).**

In [23]:
# lists contain several items of a primitive type
my_list = [1,2,3]
my_list

[1, 2, 3]

In [24]:
print(my_list)

[1, 2, 3]

In [11]:
# lists contain several items of a primitive type
my_list = [1,2,3]
other_list = [5,6,7]
print(other_list)
print(my_list)

[5, 6, 7]
[1, 2, 3]

In [26]:
test_list = [1, my_list, [2,3]]

In [27]:
test_list

[1, [1, 2, 3], [2, 3]]

In [28]:
# Lists can hold different datatypes

diverse_list = [1,"two",3.0]
diverse_list

[1, 'two', 3.0]

In [29]:
type(diverse_list)

list

In [30]:
# Let's look at tuples. They look similar to lists but use () instead of []
my_tuple = (1,2,3)
my_tuple

(1, 2, 3)

In [31]:
diverse_tuple = (1,"two",3.0)
diverse_tuple

(1, 'two', 3.0)



---

## Indexing our containers: picking items from a list

Lists have a set order (there are other container types, like dictionaries, that don't maintain an order). This order can be useful for us: if we know where the element we're interested in is, we can pull that one.

In [32]:
my_list = [1,2,3,4,5]
my_list

[1, 2, 3, 4, 5]

In [33]:
# Let's check what a particular element in our list is by using an index to refer to it
# Checking to see what an index holds does not remove it from our list 

my_list[0]

1

In [34]:
# Notice that indexing in Python starts at 0

my_list[1]

2

In [35]:
print("Item in index 0 is = ", my_list[0], "\nItem in index 1 is = ", my_list[1])

Item in index 0 is =  1
Item in index 1 is =  2

In [36]:
# It doesn't matter what our lists hold; the indices always work the same 

mixed_list = [1,2.3,"hello"]
print(mixed_list[2])

hello

In [37]:
# What if we try an index that's out of bounds?
mixed_list[5]

IndexError: list index out of range

In [53]:
# We can index from the very end by counting from the end

my_list[-1]

5



---

## Slices from lists: taking more than one element at a time

We've seen how we can extract one element using its index value. But, what if we want more than one item at a time? We can slice our list. 



```
my_list[start:stop:skip]
```

In [12]:
this_list = ["one","two","three","four","five"]
this_list

['one', 'two', 'three', 'four', 'five']

In [13]:
this_list[0:3] # notice that the stop is not inclusive

# notice that we also don't need to include a skip if we want every item in the range returned

['one', 'two', 'three']

In [14]:
this_list[0:3:2] # start at 0, stop at 3 (not inclusive) and skip every other

['one', 'three']

In [15]:
this_list[ : : 2] # Every other element

# Notice that we don't have to give a start/stop/skip if we don't want to
# Python will, again because it's so nice, try to infer what we want
# Here it'll assume we want to go from start to end

['one', 'three', 'five']

In [16]:
# We could also count from the end

this_list[-1]

'five'

In [19]:
print(this_list)
this_list[-2:-1] # remember, stop is not inclusive!

['one', 'two', 'three', 'four', 'five']

['four']



---

# Mutable vs immutable data types

Why do we need lists *and* tuples? What's the difference? Lists are mutable, tuples are immutable. 

**Whether a data type is mutable determines whether we can change its values after we've made it.** Some data types, like integers, can change their values whenever. Others, like tuples, cannot be changed. The reason we would want to protect some variables from changing is for data safety.

In [7]:
# We can add to our list

my_list = [1,2,3]
print("my_list: ", my_list)

my_list.append([4,5,6])
print("New my_list: ", my_list)

my_list:  [1, 2, 3]
New my_list:  [1, 2, 3, [4, 5, 6]]

In [68]:
# Get the last element (right side) from a list

print("Pop this item: ", my_list.pop())
print("New list after popping right-most item: ", my_list)

Pop this item:  [4, 5, 6]
New list after popping right-most item:  [1, 2, 3]

In [69]:
# Pop using an index

my_list.pop(1)
my_list

[1, 3]

In [70]:
# How about tuples? 

my_tup = (1,2,3)
my_tup

(1, 2, 3)

The following cells will cause errors because **tuples are immutable, so you can't add or remove from them.**

In [71]:
my_tup.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [72]:
my_tup.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [73]:
my_tup[1] = 7

TypeError: 'tuple' object does not support item assignment

Lists, however, are mutable. This means you can dynamically change values within a list without creating a new one.

In [74]:
my_list

[1, 3]

In [75]:
my_list[0] = "new_value"
my_list

['new_value', 3]



---